@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 13, 17, 23;
  --background-end-rgb: 13, 17, 23;
}

html {
  color-scheme: dark;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #0d1117;
}

/* Dark mode overrides */
.bg-gray-900 {
  background-color: #111827;
}

.bg-gray-800 {
  background-color: #1f2937;
}

.bg-gray-950 {
  background-color: #0d1117;
}
